.body-custom {
    margin: 10px;
}

.list-table {
    margin-top: 10px;
}

thead>td {
    font-weight: bold;
}

.uppercase {
    text-transform: capitalize;
}

.button-custom{
        padding: 10px;
}