.body-custom {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
}

.list-table {
    margin-top: 10px;
}

thead>td {
    font-weight: bold;
}

.uppercase {
    text-transform: capitalize;
}

.button-custom {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.error-page {
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10%;
}

.pointer {
    cursor: pointer;
}

.job-details {
    margin-top: 20px;
    border: 1px solid black;
}

.apply-button {
    margin-top: 20px;
}

.salaryDetails {
    margin-top: 10px;
    padding: 10px;
}

.additional-benefits {
    padding: 10px;
}

.list-header {
    margin-top: 20px;
    margin-bottom: 200px;
}

.loader {
    color: #3f51b5;
    width: 20rem;
    height: 20rem;
    position: fixed;
    /* Sit on top of the page content */
    /* Hidden by default */
    /* Full height (cover the whole page) */
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}
.sigin-In{
    margin-top: 19%;
}